@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

html, body {
  padding:0px;
  margin:0px;
  width:100%;
  min-height: 100%;
  background-color:#000;
  font: 100 15px "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
}

form, p, h1, h2, h3, h4 { margin:0; padding:0; }
.ul { padding:0; margin:0; }
.ul li { list-style-position:outside; margin-left:16px; }
a img, table { border:none; }
.nobr { white-space:nowrap; }
.hiddenInfo { display:none!important; visibility:hidden; position:absolute; }
a { color:#8a8a8a; text-decoration:none; }
a:hover, a.actual { color:#383838; }
textarea, .entrada { resize:none; font: 100 36px "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; font-size:15px; }
* { outline:none; font-weight:100; cursor:default; }
a, a img { cursor:pointer; }

header, section, footer, aside, nav, article, figure { display: block; }

.navegacionActiva { background-color: #333; }

.logo { display:block; width: 138px; height: 50px; background-image: url('../img/misc/sensoraName2.png'); 
	-moz-transition:all ease .6s;
	-webkit-transition:all ease .6s;
	-ms-transition:all ease .6s;
	-o-transition:all ease .6s;
	transition:all ease .6s;
}

.navegacionActiva .logo { background-image: url('../img/misc/sensoraName.png'); }

.video01 { position: fixed; top:0; bottom: 0; left: 0; right: 0; padding-top: 100px; }


#mainContent { position: relative; z-index: 3;  }

#intro .interior { position: relative; height: 100%; text-align: center; position: relative; }
#intro .interior img { position: absolute; right:30px; bottom:30px; }


.welcomeBox { background-color: rgba(255,187,0,0.8); color: #ffffff; position: absolute; left: 0; top: 50%; margin-top: -100px; width: 520px; padding: 20px 40px; font: 100 36px "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; text-align: left; }


.textoIntro { background-color: #fff; color: #000; padding-top: 90px; }
.textoIntro h2 { text-align: center; padding-bottom: 80px; }





#sensor_map {
    height: 300px;
}

#getLocation {
    margin-top: 22px;
    display: block;
}

.opaque {
    opacity: .5;
}
