
/*font: 100 15px "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;*/
.welcomeBox span { font-size: 1.2em; }

.explicacion img { display: block; margin: auto; }
.explicacion h2 { font-weight: 100; }
.explicacion p { font-weight: 300; padding-bottom: 10px; }
.explicacion h3 { font-weight: 200; font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 25px; }

.textoParaQue { background-color: #fff; color: #999; padding: 90px 0; }
.textoParaQue h2 { text-align: center; color: #000; padding-bottom: 80px; }


.textoQueEs { background-color: #31373a; color: #969ba2; padding: 90px 0; }
.textoQueEs h2 { text-align: center; color: #fff; padding-bottom: 80px; }
.textoQueEs p { font-size: 25px; }


.textoEjemplos { background-color: #fff; color: #999; padding: 90px 0; }
.textoEjemplos h2 { text-align: center; color: #000; padding-bottom: 80px; }
.textoEjemplos .row .row { padding-bottom: 110px; }

.creditos { background-color: #000; color: #999; padding: 40px 0; }
.creditos h2 { text-align: center; color: #fff; padding-bottom: 30px; }
.creditos p { font-weight: 400;}

.github { background-color: #31373a; color: #969ba2; padding: 90px 0; }
.github h2 { text-align: center; color: #fff; padding-bottom: 80px; }
.github a { background-color: #ffbb00; display: inline-block; margin-top: 20px; padding: 10px 20px; color: #fff; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.github a:hover { background-color: #ffa800; }

.lastQuote span { display: block; text-align: center; font-size: .4em; }



.loginBox, .registroBox, .sensoresBox, .perfilBox { padding-top: 100px; }
.alert-box { margin-top: 100px; }






@media (max-width: 800px) {
  .video01 .videoBG {
    display: none;
  }
  #intro .welcomeBox { width: 100%; }
  #intro .welcomeBox img { display: none;}
}